%p #{@user.username},

%p A request of password recovery has been received.

%p
  If you actually asked to recover your password, please
  = link_to('visit the password recovery page', @recovery_url)
  in order to start the procedure.
