%p #{@user.username},

%p Une requête de restauration de mot de passe a été reçue.

%p
  Si vous êtes à l'origine de cette demande, veuillez
  = link_to('visiter la page de restauration de mot de passe', @recovery_url)
  pour entamer la procédure.
