#{@user.username},

Une requête de restauration de mot de passe a été reçue.

Si vous êtes à l'origine de cette demande, veuillez vous rendre sur la page de restauration de mot de passe (#{@recovery_url}) pour entamer la procédure.
