%h4 Reset password

%p Please choose a new password.

- url = user_reset_password_path(@user, password_recovery_token: @user.password_recovery_token)
= simple_form_for @user, url: url, method: :post, html: { class: 'form-horizontal' } do |f|
  = f.input :password
  = f.input :password_confirmation

  .form-actions
    = f.button :submit, class: 'btn-primary'
